[project]
	description = Git presentation for the Boise Web Tech Meetup group 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Greg Lonnon (glonnon)
[access "refs/for/refs/*"]
	read = group user/Greg Lonnon (glonnon)
	push = group user/Greg Lonnon (glonnon)
	label-Code-Review = -2..+2 group user/Greg Lonnon (glonnon)
	label-Verified = -1..+1 group user/Greg Lonnon (glonnon)
	rebase = group user/Greg Lonnon (glonnon)
	removeReviewer = group user/Greg Lonnon (glonnon)
	submit = group user/Greg Lonnon (glonnon)
[access "refs/heads/*"]
	read = group user/Greg Lonnon (glonnon)
	create = group user/Greg Lonnon (glonnon)
	push = +force group user/Greg Lonnon (glonnon)
	pushMerge = group user/Greg Lonnon (glonnon)
[access "refs/tags/*"]
	push = +force group user/Greg Lonnon (glonnon)
	pushTag = group user/Greg Lonnon (glonnon)
	pushSignedTag = group user/Greg Lonnon (glonnon)
